*{
    box-sizing: border-box;
}
body {
    background:black;
    font-family: "Roboto",serif;
}

.post {
    width:400px;
    margin: 40px auto;
}
.post-header {
    display:flex;
    background:white;
    padding-top:10px;
    padding-bottom:6px;
}

.author {
    display: flex;
    margin-left:12px;
    float:left;
    font-size:12px;
}

.author i{
   font-size: 35px; 
   padding-right:8px;
}

[class*='fa-solid fa-ellipsis-vertical'] {
    float:right;
    font-size: 25px; 
    margin-right:12px;
    margin-left:auto;
}

.post-img {
    width: 100%;
    display: block;
}


.post-body{
    max-width: 100%;
    background:white;
    padding: 5px 5px 10px 5px;
}

.post-body p {
    font-size: 12px;
    margin-left:10px;
    margin-right:10px;
}

.action-buttons {
    font-size:25px;
    margin-left:10px;
    margin-top: 8px;
}

[class*='fa-bookmark']{
    float:right;
    margin-right: 10px;
}

